<html>
<head>
	<title>Movie Trivia</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div id="score">
		<% if session[:score] %>
		  <h3>Score: <%=session[:score]%></h3>
		<% end %>
		<% if @score_incremented != nil%>
			<% if @score_incremented == false %>
				<h2>Nope, try again!</h2>
			<% end %>
		<% end %>
	</div>
	<div id="game">
		<h3 class="question">Which one of these movies was shot in <%= session[:question_movie][:year] %>?</h3>
		<div class="movies">
    		<% @movies.each do |group| %>
				<div class="row">
					<span>
			    		<% group.each do |movie| %>
    			          	<a href="/poster/click/<%=movie[:year]%>" class="poster"><img src="<%= movie[:poster] %>"/></a>
        	   			   	<!-- <p><%= movie[:title] %></p> -->
       	        		<% end %>
       	        	</span>
       	        </div> 			
            <% end %>
        </div>
        <h3><a href="/">Start over</a></h3>
    </div>
</body>
</home>